<div class="l_main_area">
    <h3>Create Release Group</h3>
    <div>
        <label for="txtReleaseGrpName_promotionCreate">* Release Group</label>
        <input type="text" id="txtReleaseGrpName_promotionCreate" data-dojo-type="dijit/form/ValidationTextBox" maxLength="80" /> 
    </div>
    <div>
        <button id="btnSave_promotionCreate" type="button" data-dojo-type="dijit/form/Button">Save</button>
        <button id="btnCancel_rpromotionCreate" type="button" data-dojo-type="dijit/form/Button">Cancel</button>
    </div>
</div>