<div class="l_left_nav">
<ul>
<li><button id="btnCreateRelease" class="linkButton"><i class="fa fa-cube"></i><b>Create Release Group</b></button></li>
<li><button id="btnInProgressReleases" class="linkButton"><i class="fa fa-cubes"></i><b>In Progress Release Groups</b></button></li>
    <li><button id="btnProductionReleases" class="linkButton"><i class="fa fa-database"></i><b>Release Groups in Production</b></button></li>
    <li><button id="btnCanceledReleases" class="linkButton"><i class="fa fa-ban"></i><b>Canceled Release Groups</b></button></li>
</ul>
</div>