<div class="l_main_area">
    <h3>Unassigned Documents</h3>
    <div class="l_column_thirds">
        <label for="txtReleaseGrpName_unassignedDocuments">Release Group</label>
        <input type="text" id="txtReleaseGrpName_unassignedDocuments" data-dojo-type="dijit/form/TextBox" data-dojo-props="disabled: true"/>
    </div>
    <div class="l_row_pad">
        <div id="unassignedDocsGrid"></div>
        <button id="btnSave_unassignedDocuments" type="button" data-dojo-type="dijit/form/Button">Save</button>
        <button id="btnCancel_unassignedDocuments" type="button" data-dojo-type="dijit/form/Button">Cancel</button>
    </div>
</div>