<server description="new server">   
    <featureManager continueOnError="false">
        <feature>localConnector-1.0</feature>
        <feature>servlet-3.0</feature>
        <feature>jsp-2.2</feature>
        <feature>jaxrs-1.1</feature>
    </featureManager>
    <applicationMonitor updateTrigger="mbean"/>
    <application id="proxy" location="proxy.war" name="proxy" type="war">
    </application>
    <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint">
		<tcpOptions soReuseAddr="true"/>
	</httpEndpoint>

	<application context-root="frmsadmin" id="ILFRMSWebContent" location="ILFRMSWebContent.war" name="ILFRMSWebContent" type="war"/>

	<application context-root="common" id="ILSharedUIWeb" location="ILSharedUIWeb.war" name="ILSharedUIWeb" type="war"/>
</server>