.plupload_header_content{
    display: none !important;
    visibility: hidden !important;
}

#puploader_dropbox{
    top: 30px !important;
}

.plupload_message {
    display: none !important;
    visibility: hidden !important;
}