<div>
    
    <div id="frmsLayout" class="frms" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="design: 'headline', liveSplitters:true">
        <div class="l_top rounded" data-dojo-type="dijit/layout/ContentPane"
             data-dojo-props="region: 'top'">
            <div class="l_header">
                <div class="l_head_title">
                    <div class="l_head_title_in">
                        <div class="l_logo"><img src="images/life.png"></div>
                        <div class="l_logo_text">
                            <div class="l_head_tag c_head_tag">Life Works</div>
                            <div class="c_head_title">Forms Rules Management System</div>
                        </div><!-- l_logo_text -->
                    </div><!-- l_head_title_in -->
                </div><!-- l_head_title -->
                <div class="l_head_tabs_out">
                    <div class="l_head_tabs">
                        <div id="show_forms"  class="l_head_tab c_head_tab"><a href="#" class="active" rel="formsSearch">Forms</a></div>
                        <div id="show_records" class="l_head_tab c_head_tab"><a href="#" rel="recordsSearch">Records</a></div>
                        <div id="show_packages" class="l_head_tab c_head_tab"><a href="#" rel="packagesSearch">Packages</a></div>
                        <div id="show_promotions" class="l_head_tab c_head_tab"><a href="#" rel="promotionInProgress">Promotions</a></div>
                    </div><!--l_head_tabs-->
                </div><!-- l_head_tabs_out -->
            </div><!-- l_header -->
            
        </div><!--l_top-->
             
        <div>

		                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left', splitter: true" id="frmsNav" class="l_left_pane">
		                </div>
		                <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center'" id="frmsContent">
		                </div>
		        
	    </div>	
  </div><!--frmsLayout-->

                
    
    
    <div id="notice_holder"></div>
</div>
    
