<div>
    <h3>Duplicate Record</h3>
    <div class="l_rounded_border_column">
	    <div id="duplicatConfirmation" class="l_row_pad">
	        <label>This is a duplicate entry.plesae update
	        <br> Your Document Record Values </label>
	        <label> Classification: <label for="classification" id="clas_duplicateRecordConfirmation"></label></label>
	        <label> subClassfication: <label for="subClassfication" id="sClas_duplicateRecordConfirmation"></label> </label>
	       	<label> Record #: <label for="recordid" id="recId_duplicateRecordConfirmation"></label></label>
	        <label> Record Title: <label for="recordTitle" id="recTit_duplicateRecordConfirmation"></label></label>
	   </div>
	   <div class="l_row_pad">
	        <table>
	            <tr>
	                <td>
	                    <button data-dojo-type="dijit/form/Button" type="button" id="modi_duplicateRecordConfirmation">Modify Existing</button>
	                    <button data-dojo-type="dijit/form/Button" type="button" id="canc_duplicateRecordConfirmation">Cancel</button>
	                </td>
	            </tr>
	        </table>
	    </div>
    </div>
</div>