<div class="l_main_area">
    <h3>Record History</h3>
    <div class="l_row l_pad">
        <div class="l_column">
            <label for="txtRecordTitle_recordsHistory">Record Title</label>
            <input type="text" id="txtRecordTitle_recordsHistory" data-dojo-type="dijit/form/TextBox" />
            <label for="txtCreateByLastName_recordsHistory">Created By: Last Name</label>
            <input type="text" id="txtCreateByLastName_recordsHistory" data-dojo-type="dijit/form/TextBox"/>
            <label for="txtCreateByFirstName_recordsHistory">First Name</label>
            <input type="text" id="txtCreateByFirstName_recordsHistory" data-dojo-type="dijit/form/TextBox"/>
            <label for="txtCreatedDate_recordsHistory">Created Date</label>
            <input type="text" id="txtCreatedDate_recordsHistory" data-dojo-type="dijit/form/TextBox" />
            </div><!--l_column-->
    </div><!--l_row_pad-->
    <div id="grid_recordsHistory" style="height:20px;"></div>
        
    <div class="l_pad_top">
		<button id="commentsBtn_recordsHistory" type="button" data-dojo-type="dijit/form/Button">Comments</button>
        <button id="btnDone_recordsHistory" type="button" data-dojo-type="dijit/form/Button">Done</button>
    </div>
</div>
