
<div class="container">
    <h3>Users</h3>
    <div class="l_row_pad">
    <div id="usersGrid_users" style="height:200px;" ></div>
    <div class="l_row_pad">
        <table>
            <tr>
                <td>
                    <label for="frmWrite">
                        <input type="checkbox" id="frmWrite_users" checked data-dojo-type="dijit.form.CheckBox" data-dojo-props="checked: false"> 
                        Forms Write </label>
                </td>
                <td>
                    <label for="recWrite">
                        <input type="checkbox" id="recWrite_users" checked data-dojo-type="dijit.form.CheckBox" data-dojo-props="checked: false"> 
                        Records Write </label>
                </td>
                <td>
                    <label for="packWrite">
                        <input type="checkbox" id="packWrite_users" checked data-dojo-type="dijit.form.CheckBox" data-dojo-props="checked: false"> 
                        Package Write </label>
                </td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    <label for="frmsPrmo">
                        <input type="checkbox" id="frmsPrmo_users" checked data-dojo-type="dijit.form.CheckBox" data-dojo-props="checked: false"> 
                        FRMS Promote&nbsp;&nbsp;
                    </label>
                </td>
                <td>
                    <label for="userAdmin">
                        <input type="checkbox" id="userAdmin_users" checked data-dojo-type="dijit.form.CheckBox" data-dojo-props="checked: false"> 
                        User Administrator </label>
                </td>
            </tr>
        </table>
        <div class="l_row_pad">
            <table>
                <tr>
                    <td>
                        <button id="btnAddUser_users" type="button" data-dojo-type="dijit/form/Button">Add User</button>
                    </td>
                    <td>
                        <button id="btnViewArchive_users" type="button" data-dojo-type="dijit/form/Button">View Archived</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    </div>
</div>
