<div class="${baseClass}">
	<form data-dojo-attach-point="formSearchForm" data-dojo-type="dijit/form/Form" enctype="multipart/form-data" action="" method="">
		<div data-dojo-attach-point="formSearchForm_title" data-dojo-type="dijit/TitlePane" data-dojo-props="title: 'Search'">
			<div class="l_row">
				<div class="l_column_thirds"> 
					<label for="frmRecNumSrch_fld">*Form Number</label>
					<input type="text" data-dojo-attach-point="frmRecNumSrch"  data-dojo-type="dijit/form/ValidationTextBox" />
				</div>
				<div class="l_column_thirds">
					<label for="frmRvnDtSrch_fld">Revision Date</label>
					<select data-dojo-attach-point="frmRvnDtSrch" data-dojo-type="dijit/form/FilteringSelect"></select>
				</div>
				<div class="l_column_thirds">
					<div style='height:60px;display:table-cell;vertical-align: middle;' >
					<button data-dojo-attach-point="searchForm_btn" label="Search" type="button" data-dojo-type="dijit/form/Button"></button>
					<div>
				</div>
			</div>		
		</div>
	</form>
</div>




